@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.post {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 8px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.profile i {
    font-size: 30px;
    margin-right: 10px;
}

.title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h2 {
    font-size: 14px;
    font-weight: bold;
}

.title h2 span {
    font-weight: bold;
}

.title p {
    font-size: 12px;
    font-weight: normal;
    margin-top: 2px;
}

.options i {
    font-size: 23px;
    color: #555;
}

.post-img {
    width: 100%;
    height: 250px;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
    background-size: cover;
    background-position: center;
}

.post-body {
    padding: 15px;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 23px;
}

.left-icons {
    display: flex;
    gap: 5px;
}

.likes {
    font-size: 14px;
    margin-bottom: 8px;
}

.caption {
    font-size: 14px;
    line-height: 1.4;
    overflow-wrap: break-word;
}
